<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-center border-b border-neutral-500 py-3 text-xl text-black font-bold">
    Meme Game
  </div>
</header>
<main>
  <div class="p-12">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
